faiss_cpu==1.8.0.post1
fitz==0.0.1.dev2
langchain==0.0.27
numpy==1.24.4
openai==1.99.9
Pillow==10.1.0
Pillow==11.3.0
pytesseract==0.3.13
python_pptx==1.0.2
sentence_transformers==3.2.1
transformers==4.46.3
